# Backend API URL
VITE_API_URL=https://sansli-kumbara-api.onrender.com

# Platform API Key (platform kaydından sonra alacağınız key)
VITE_PLATFORM_API_KEY=Iqsa5qAErHLoPlh30F2zTAM2Jj1J3FVtY/LmploYm/Y=
